@model RealEstateInvestment.Areas.RealEstate.Models.Customer
@{
    Layout = null;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        حذف عميل
    </div>
    <div class="panel-body">
        <h3>هل انت متأكد من انك تريد حذف هذا العميل؟</h3>
        <div>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Id)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NameArab) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.NameArab)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NameEng) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.NameEng)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IDTypeId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.TypeId.IdName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdNumber) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IdNumber)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdNumberForAgent) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IdNumberForAgent)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdissuePlace) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IdissuePlace)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdExpiryDate) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.IdExpiryDate)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NationalityId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Nationality.NationalityName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReligionId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Religion.ReligionName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Occupation) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Occupation)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CountryId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Country.CountryName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CityId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.City.CityName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DistrictId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.District.DistrictName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                </tr>
            </table>
            @using (Html.BeginForm("Delete", "Customers", FormMethod.Post, new { id = "popupForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="حذف" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</div>