@model RealEstateInvestment.Areas.RealEstate.Models.DTO.RequestDetailsDTO
@{
    Layout = null;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        @if (Model.Request.ContractId != null)
        {
            @:تفاصيل العقد
        }
        else
        {
            @:تفاصيل الطلب
        }
    </div>
    <div class="panel-body">
        <div>
            <table>
                @if (Model.Request.ContractId != null)
                {
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Request.ContractId) : &nbsp; &nbsp;
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.Request.ContractId)
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Request.Id) : &nbsp; &nbsp;
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.Request.Id)
                        </td>
                    </tr>
                }
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.ProjectId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Request.ProjectName)
                    </td>
                </tr>
                @if (Model.Request.MainUnitId != null)
                {
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Request.MainUnitId) : &nbsp; &nbsp;
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.Request.MainUnitName)
                        </td>
                    </tr>
                }
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.UnitId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Request.UnitName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.CustomerId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Request.CustomerName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.ContractDate) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Request.ContractDate)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.PaymentMethodHeaderId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Request.PaymentMethodHeaderName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.ContractTypeId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Request.ContractTypeName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.ContractModelId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Request.ContractModelName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.UnitTotalValue) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Request.UnitTotalValue)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.DocHeaderId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @if (Model.Request.DocHeaderId == null)
                        {
                            @:لم يتم تسجيل العقد حتى الان
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Request.DocHeaderId)
                        }
                    </td>
                </tr>
            </table>
            @if (Model.DeliverySpecificationData != null)
            {
                <h3 style="margin-right:10px">مواصفات التسليم</h3>
                <ul>
                    @foreach (var item in Model.DeliverySpecificationData)
                    {
                        <li>@item.Name</li>
                    }
                </ul>
            }
            @if (Model.Installments != null)
            {
                <h3 style="margin-right:10px">الأقساط</h3>
                <table id="chidataTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>مسلسل</th>
                            <th>نوع الدفعة</th>
                            <th>تاريخ الدفع</th>
                            <th>القيمة</th>
                        </tr>
                    </thead>
                </table>
            }
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#chidataTable').DataTable({
                "ajax": {
                    "url": '/Contracts/GetInstallments/ @Model.Request.Id',
                    "type": 'get',
                    "datatype": "json",
                },
                "columns": [
                    { "data": "Serial", "autowidth": true },
                    { "data": "payName", "autowidth": true },
                    {
                        "data": "PayDate",
                        "autowidth": true,
                        "render": function (data) {
                            if (data != null) {
                                var date = new Date(parseInt(data.substr(6)));
                                var month = date.getMonth() + 1;
                                return date.getDate() + "/" + month + "/" + date.getFullYear();
                            } else
                                return "";
                        }
                    },
                    { "data": "PayValue", "autowidth": true },
                ],
                "language": {
                    "emptyTable": "لا توجد نتائج لعرضها",
                    "info": "عرض _START_ الى _END_ من _TOTAL_ نتيجة",
                    "infoEmpty": "",
                    "infoFiltered": "(نتائج بحث من اجمالي _MAX_ نتيجة)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "عرض _MENU_ نتائج ",
                    "loadingRecords": "تحميل...",
                    "search": "بحث: ",
                    "zeroRecords": "لا توجد نتائج مطابقة للبحث",
                    "paginate": {
                        "first": "الأول",
                        "last": "الأخير",
                        "next": "التالي",
                        "previous": "السابق"
                    },
                    "processing": "تحميل......."
                },
                columnDefs: [
                    { "className": "dt-center", "targets": "_all" }/* to center data on columns*/,
                    {
                        "targets": 'no-sort',
                        "orderable": false
                    }
                ]
            });
    });
</script>
