@model RealEstateInvestment.Areas.RealEstate.Models.DTO.ProjectDTO
@{
    Layout = null;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        حذف مشروع
    </div>
    <div class="panel-body">
        <h3>هل انت متأكد من انك تريد حذف هذا المشروع؟</h3>
        <div>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Id)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectName) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ProjectName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransmissionDate) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.TransmissionDate)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CountryId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Country)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CityId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.City)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DistrictId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.District)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Location) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Location)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectOwnerId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ProjectOwnerName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectOwnerDelegateName) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ProjectOwnerDelegateName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectOwnerDelegateRepresent) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ProjectOwnerDelegateRepresent)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectOwnerDetails) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ProjectOwnerDetails)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MainOwnerId) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.MainOwnerName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InstallmentAccount) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.InstallmentAccount)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MintananceAccount) : &nbsp; &nbsp;
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.MintananceAccount)
                    </td>
                </tr>
            </table>

            @using (Html.BeginForm("DeleteProject", "Projects", FormMethod.Post, new { id = "popupForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="حذف" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</div>